;; Logseq DB Class Template
;; Copy and modify this template to create custom classes

;; Basic Class (extends Root)
{:db/ident :user.class/MyClass
 :block/title "MyClass"
 :block/tags [:logseq.class/Tag]
 :logseq.property.class/extends :logseq.class/Root}

;; Class with Properties
{:db/ident :user.class/Book
 :block/title "Book"
 :block/tags [:logseq.class/Tag]
 :logseq.property.class/extends :logseq.class/Root
 :logseq.property/schema-classes
   [:user.property/author
    :user.property/isbn
    :user.property/rating
    :user.property/status]}

;; Inherited Class (extends another user class)
{:db/ident :user.class/Audiobook
 :block/title "Audiobook"
 :block/tags [:logseq.class/Tag]
 :logseq.property.class/extends :user.class/Book
 :logseq.property/schema-classes
   [:user.property/narrator
    :user.property/duration]}

;; Class extending built-in Task
{:db/ident :user.class/ProjectTask
 :block/title "ProjectTask"
 :block/tags [:logseq.class/Tag]
 :logseq.property.class/extends :logseq.class/Task
 :logseq.property/schema-classes
   [:user.property/project
    :user.property/sprint
    :user.property/estimate]}

;; Available parent classes:
;; - :logseq.class/Root (base for most classes)
;; - :logseq.class/Page (regular pages)
;; - :logseq.class/Task (tasks with status/priority)
;; - :logseq.class/Query (saved queries)
;; - :logseq.class/Asset (file attachments)
;; - :user.class/YourClass (your own classes)
