;; Logseq DB Property Template
;; Copy and modify these templates to create custom properties

;; Text Property (default type)
{:db/ident :user.property/description
 :block/title "Description"
 :logseq.property/type :default
 :logseq.property/cardinality :one}

;; Number Property
{:db/ident :user.property/rating
 :block/title "Rating"
 :logseq.property/type :number
 :logseq.property/cardinality :one}

;; Number with Closed Values (choices)
{:db/ident :user.property/priority-level
 :block/title "Priority Level"
 :logseq.property/type :number
 :logseq.property/cardinality :one
 :logseq.property/closed-values [1 2 3 4 5]}

;; Date Property
{:db/ident :user.property/published-date
 :block/title "Published Date"
 :logseq.property/type :date
 :logseq.property/cardinality :one}

;; DateTime Property
{:db/ident :user.property/scheduled-time
 :block/title "Scheduled Time"
 :logseq.property/type :datetime
 :logseq.property/cardinality :one}

;; Checkbox Property
{:db/ident :user.property/is-complete
 :block/title "Is Complete"
 :logseq.property/type :checkbox
 :logseq.property/cardinality :one}

;; URL Property
{:db/ident :user.property/website
 :block/title "Website"
 :logseq.property/type :url
 :logseq.property/cardinality :one}

;; Node Reference Property (links to pages/blocks)
{:db/ident :user.property/related-to
 :block/title "Related To"
 :logseq.property/type :node
 :logseq.property/cardinality :many}

;; Text with Closed Values (enum-like)
{:db/ident :user.property/status
 :block/title "Status"
 :logseq.property/type :default
 :logseq.property/cardinality :one
 :logseq.property/closed-values ["To Do" "In Progress" "Done" "Blocked"]}

;; Hidden Property
{:db/ident :user.property/internal-id
 :block/title "Internal ID"
 :logseq.property/type :default
 :logseq.property/cardinality :one
 :logseq.property/hide? true}

;; Property Types Reference:
;; - :default    - Text/rich content
;; - :number     - Numeric values
;; - :date       - Calendar dates (links to journals)
;; - :datetime   - Date + time
;; - :checkbox   - Boolean true/false
;; - :url        - Web links
;; - :node       - Page/block references
;; - :class      - Class entities

;; Cardinality Options:
;; - :one  - Single value
;; - :many - Multiple values (set)
