  /**
   * {{PROCEDURE_NAME_CAPS}} Procedure
   * {{PROCEDURE_DESCRIPTION}}
   *
   * @input {{INPUT_FIELDS}}
   * @output {{OUTPUT_FIELDS}}
   */
  {{PROCEDURE_NAME}}: publicProcedure
    .input({{PROCEDURE_NAME}}InputSchema)
    .output({{PROCEDURE_NAME}}OutputSchema)
    .{{PROCEDURE_TYPE}}(async ({ input }) => {
      // TODO: Implement business logic

      return {
        // TODO: Return output matching schema
        success: true,
      };
    }),
